@model Inquiry

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Inquiry</h2>
        </div>
    </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="deliveryDate" class="form-control border-0 shadow" />
                    <label asp-for="deliveryDate" class="ms-2"></label>
                    <span asp-validation-for="deliveryDate" class="text-danger"></span>
                </div>
                <div>Destination addres</div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="destinationAddress.streetName" class="form-control border-0 shadow" />
                    <label asp-for="destinationAddress.streetName" class="ms-2"></label>
                    <span asp-validation-for="destinationAddress.streetName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="destinationAddress.houseNumber" class="form-control border-0 shadow" />
                    <label asp-for="destinationAddress.houseNumber" class="ms-2"></label>
                    <span asp-validation-for="destinationAddress.houseNumber" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="destinationAddress.flatNumber" class="form-control border-0 shadow" />
                    <label asp-for="destinationAddress.flatNumber" class="ms-2"></label>
                    <span asp-validation-for="destinationAddress.flatNumber" class="text-danger"></span>
                </div>
                 <div class="form-floating py-2 col-12">
                    <input asp-for="destinationAddress.city" class="form-control border-0 shadow" />
                    <label asp-for="destinationAddress.city" class="ms-2"></label>
                    <span asp-validation-for="destinationAddress.city" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="destinationAddress.postcode" class="form-control border-0 shadow" />
                    <label asp-for="destinationAddress.postcode" class="ms-2"></label>
                    <span asp-validation-for="destinationAddress.postcode" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <div class="form-check">
                        <input asp-for="isPriority" class="form-check-input" />
                        <label asp-for="isPriority" class="form-check-label ms-2"></label>
                    </div>
                    <span asp-validation-for="weekendDelivery"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <div class="form-check">
                        <input asp-for="weekendDelivery" class="form-check-input" />
                        <label asp-for="weekendDelivery" class="form-check-label ms-2"></label>
                    </div>
                    <span asp-validation-for="weekendDelivery"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <div class="form-check">
                        <input asp-for="isCompany" class="form-check-input" />
                        <label asp-for="isCompany" class="form-check-label ms-2"></label>
                    </div>
                    <span asp-validation-for="isCompany"></span>
                </div>
                     <div>Source addres</div>
                 <div class="form-floating py-2 col-12">
                    <input asp-for="sourceAddress.streetName" class="form-control border-0 shadow" />
                    <label asp-for="sourceAddress.streetName" class="ms-2"></label>
                    <span asp-validation-for="sourceAddress.streetName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="sourceAddress.houseNumber" class="form-control border-0 shadow" />
                    <label asp-for="sourceAddress.houseNumber" class="ms-2"></label>
                    <span asp-validation-for="sourceAddress.houseNumber" class="text-danger"></span>
                </div> 
                <div class="form-floating py-2 col-12">
                    <input asp-for="sourceAddress.flatNumber" class="form-control border-0 shadow" />
                    <label asp-for="sourceAddress.flatNumber" class="ms-2"></label>
                    <span asp-validation-for="sourceAddress.flatNumber" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="sourceAddress.city" class="form-control border-0 shadow" />
                    <label asp-for="sourceAddress.city" class="ms-2"></label>
                    <span asp-validation-for="sourceAddress.city" class="text-danger"></span>
                </div>


                  <div class="form-floating py-2 col-12">
                    <input asp-for="sourceAddress.postcode" class="form-control border-0 shadow" />
                    <label asp-for="sourceAddress.postcode" class="ms-2"></label>
                    <span asp-validation-for="sourceAddress.postcode" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="package.weight" class="form-control border-0 shadow" />
                    <label asp-for="package.weight" class="ms-2"></label>
                    <span asp-validation-for="package.weight" class="text-danger"></span>
                </div>
                 <div class="form-floating py-2 col-12">
                 <input asp-for="package.weightUnit" class="form-control border-0 shadow" />
                    <label asp-for="package.weightUnit" class="ms-2"></label>
                    <span asp-validation-for="package.weightUnit" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="package.height" class="form-control border-0 shadow" />
                    <label asp-for="package.height" class="ms-2"></label>
                    <span asp-validation-for="package.height" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="package.length" class="form-control border-0 shadow" />
                    <label asp-for="package.length" class="ms-2"></label>
                    <span asp-validation-for="package.length" class="text-danger"></span>
                </div>
                 <div class="form-floating py-2 col-12">
                    <input asp-for="package.width" class="form-control border-0 shadow" />
                    <label asp-for="package.width" class="ms-2"></label>
                    <span asp-validation-for="package.width" class="text-danger"></span>
                </div>
                 <div class="form-floating py-2 col-12">
                    <input asp-for="package.dimensionsUnit" class="form-control border-0 shadow" />
                    <label asp-for="package.dimensionsUnit" class="ms-2"></label>
                    <span asp-validation-for="package.dimensionsUnit" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
@*                         <a asp-controller="Offer" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-outline-primary border  form-control">
                            View offers
                        </a> *@
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary border  form-control">
                            Back to Home
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>




@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}