@model IEnumerable<OfferDTO>
<br />
<div class="container p-4 border">
    <div>
            <h1 class="text-primary">Offer List</h1>
    </div>

    <table class="table">
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					Price
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var item in Model){
				<tr>
					<td>@item.Id</td>
					<td>@((item.price).ToString("c"))</td>
					<td>
						@*TODO*@
						<a asp-controller="Delivery" asp-action="DeliveryStatus" asp-route-id="@item.Id" class="btn btn-primary mx-2">
							<i class="bi bi-pencil-square"></i> Accept Offer
						</a>
					</td>
				</tr>
			}
		</tbody>
    </table>

</div>