@model OfferDto
<br />
<div class="container p-4 border">
    <div>
            <h1 class="text-primary">Offer List</h1>
    </div>

    <table class="table">
		<thead>
			<tr>
				<th>Price</th>
				<th>Taxes</th>
				<th>Fees</th>
				<th>Expiration Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Model.price</td>
				<td>@Model.fees</td>
				<td>@Model.taxes</td>
				<td>@Model.expirationDate</td>
			</tr>
		</tbody>
    </table>

</div>